<article class="main-article">
  <div class="login-form">
    <div class="login-container">
      <h1 class="login-instagram-logo">Instagram</h1>
      <div class="login-fields">
        <form>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="login-text-field">
              <!-- <%= f.label :email %><br /> -->
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: 'email-text-field' %>
            </div>

            <div class="login-text-field">
              <!-- <%= f.label :password %><br /> -->
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'password-text-field' %>
              <div class="forgot-password">
                <%= render "devise/shared/links" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="login-text-field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: 'remember-me' %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>

        </form>
      </div>
    </div>
  </div>
</article>
