<article class="main-article">
  <div class="iphone-section">
    <img class="iphone-image" src="//instagramstatic-a.akamaihd.net/h1/images/homepage/screenshot4.jpg/2db50f7f967f.jpg">
  </div>
  <div class="login-form">
    <div class="login-container">
      <h1 class="login-instagram-logo">Instagram</h1>
      <div class="login-fields">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="login-text-field">
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: 'email-text-field' %>
            </div>
            <div class="login-text-field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'password-text-field' %>
              <div class="forgot-password">
                <%= render "devise/shared/links" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="login-text-field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: 'remember-me' %>
              </div>
            <% end -%>
              <%= f.submit "Login", class: 'login-button' %>
          <% end %>
      </div>
      <div class="no-account">
        <p class="no-account-text">Don't have an account? Click below to sign up.</p>
        <%= link_to new_user_registration_path, class: "sign-up-links" do %>
          <button class="sign-up-button" type="submit" name="sign-up">Sign up</button>
        <% end %>
      </div>
    </div>
  </div>
</article>
