<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.user.image.url(:thumb) %>
    <p><strong><%= post.title %> by: <%= post.user.username %></strong></p>
    <div><%= image_tag post.image.url(:medium) %>
      <br>
    <span class="likes_count"> <%= post.likes.count %> </span> <%= 'like'.pluralize(post.likes.count) %>
      <% if post.comments.any? %>
        <ul>
          <% post.comments.each do |comment| %>
            <li>
              <%= comment.thoughts %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No comments.</p>
      <% end %>
      <%= link_to post_likes_path(post), class: 'likes-link' do %>
          <i class="glyphicon glyphicon-heart"></i>
      <% end %>
      <%= form_for [post, @comment] do |f| %>
      <%= f.label :thoughts %>
      <%= f.text_area :thoughts %>
      <%= f.submit "Leave Comment" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  No images posted yet
<% end %>

<%= link_to "Make a Post", new_post_path %>
