<section class="posts-section">
  <div class="posts-div">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
      <article class="each-post">
        <header class="post-header">
          <%= image_tag post.user.image.url(:thumb), class: 'post-user-image' %>
          <div class="post-user-username">
            <%= post.user.username %>
          </div>
          <div class="post-timestamp">
            <%= time_ago_in_words(post.time) + ' ago' %>
          </div>
        </header>
        <div class="post-image-div">
          <%= image_tag post.image.url(:medium), class: 'post-image' %>
        </div>
        <div class="post-extra-section">
          <span class="likes_count"> <%= post.likes.count %> </span> <span class="likes-word"><%= 'like'.pluralize(post.likes.count) %></span>
          <ul class="post-details">
            <li class="post-user-and-title">
              <span class="post-detail-user-username"><%= post.user.username %></span>
              <span><strong><%= post.title %></strong></span>
            </li>
            <% if post.comments.any? %>
              <% post.comments.each do |comment| %>
            <li class="post-comment">
              <span class="comment-user-username"><%= comment.user.username %></span>
              <span><%= comment.thoughts %></span>
            </li>
                <% end %>
            <% else %>
              <p>No comments.</p>
            <% end %>
          </ul>





          <%= link_to post_likes_path(post), class: 'likes-link' do %>
              <i class="glyphicon glyphicon-heart"></i>
          <% end %>
          <%= form_for [post, @comment] do |f| %>
          <%= f.label :thoughts %>
          <%= f.text_area :thoughts %>
          <%= f.submit "Leave Comment" %>
          <% end %>
        </div>
      </article>
      <% end %>
    <% end %>
  </div>
</section>
