 <% if @post.errors.any? %>
   <section id="errors" >
     <h3> <%= pluralize(@post.errors.count, "error") %> prohibited this post from being submitted: </h2>
     <ul>
       <% @post.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </section>
 <% end %>

<section class="new-post-section">
  <div class="new-post-file">
    <%= form_for @post, url: posts_path, html: {multipart: true} do |f| %>
      <%= f.label "Select Image", class: "select-image-label" %>
      <%= f.file_field :image, onchange: "previewImage(event)", id: "new-image" %>
      <%= f.text_field :title, placeholder: "Give your post a title...", id: 'new-post-title-text' %>
      <%= f.submit "Post Image", class: "new-post-submit-button" %>
      <% end %>
  </div>
  <div class="new-post-image-div">
    <img id="image-preview"/>
  </div>
  <script>
    var previewImage = function(event) {
      var output = document.getElementById('image-preview');
      output.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
</section>
