<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Instagram Clone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="custom-navbar">
          <% if user_signed_in? %>
            <%= link_to "New Post", new_post_path, class: 'new-post-link' %>
            <a class="header-instagram-logo" href="/">Instagram</a>
            <p class="current-username"><%= current_user.username %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'sign-out-link' %></p>
          <% else %>
            <%= link_to "Login", new_user_session_path %> |
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </div>
      </header>
      <main>
        <!-- <%= notice %> -->
        <!-- <%= alert %> -->
        <%= yield %>
      </main>
      <footer>
        © 2016 Instagram Clone by Hamza Sheikh, while at <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a> | <a href="https://github.com/hsheikhm" target="_blank">GitHub</a> | <a href="https://uk.linkedin.com/in/hamza-sheikh-b111a975" target="_blank">LinkedIn</a> | <a href="https://hsheikhm.wordpress.com/" target="_blank">Blog</a> |
      </footer>
    </div>
  </body>
</html>
